---
const { title, slugTitle, defaultHide, desc, url, badge, supportedPlatforms, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
import platformList from "../supportedPlatforms.json";
const gameImage = "/games/" + slugTitle + ".png";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
let classList = "rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]";
if(defaultHide) {
  classList += " hidden";
}

---

<div
  id={slugTitle}
  class={classList}
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
          <Image
            src={gameImage}
            width={750}
            height={422}
            format="png"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl mb-2">{desc}</p>
        <div class="card-actions justify-start">
          {
            supportedPlatforms &&
              supportedPlatforms.map((platform) => (
                <span class="icon-container">
                  <img src={platformList[platform].icon} alt={platformList[platform].name} />
                </span>
              ))
          }
        </div>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <span href={`${tag_url}/${tag}`} class="badge badge-outline">
                  {tag}
                </span>
              ))
          }
        </div>
      </div>
    </div>
  </a>
  <div class="divider my-0" />
</div>


