---
const { 
    gamePathTitle,
    version,
    gamePlatforms,
    gameData,
} = Astro.props;

const buttonClasses = `btn hidden install install-${gamePathTitle}`;
---
<script is:inline>
    if(globalThis.presto?.state != 'loaded') {
        console.debug("Presto:: Settings not loaded yet");
        window.addEventListener('presto:settings-loaded', () => {
            readyInstallButton();
        });
    } else {
        readyInstallButton();
    }

    function readyInstallButton() {
        const button = document.querySelector("button.install");

        // get current settings
        let currentSettings = globalThis.presto.currentSettings;
        const installPath = currentSettings?.installPath

        const gamePathTitle = button.dataset.gamePathTitle;
        console.debug("Presto:: gamePathTitle", gamePathTitle);
        const gameVersion = button.dataset.gameVersion;
        console.debug("Presto:: gameVersion", gameVersion);

        if(globalThis.presto.currentSettings.installed) {
            const installedGames = Object.keys(globalThis.presto.currentSettings.installed);
            if(!installedGames.includes(gamePathTitle)) {
                button.classList.remove("hidden");
                button.removeAttribute("inert");
            }
        }

        // Detect OS
        const currentPlatform = globalThis.presto.currentPlatform;

        // get home dir path
        const homeDirPath = globalThis.presto.homeDirPath;
        
        // get platforms and game data
        const gamePlatforms = JSON.parse(button.dataset.gamePlatforms);
        const gameData = JSON.parse(button.dataset.gameData);

        const downloadFile = gamePlatforms[currentPlatform].downloadFile;
        console.debug("Presto:: downloadFile", downloadFile);

        const dataInstallToGameDir = gamePlatforms[currentPlatform].dataInstallToGameDir;
        console.debug("Presto:: dataInstallToGameDir", dataInstallToGameDir);
        const dataInstallToHomeDir = gamePlatforms[currentPlatform].dataInstallToHomeDir;
        console.debug("Presto:: dataInstallToHomeDir", dataInstallToHomeDir);
        const gameExecutable = gamePlatforms[currentPlatform].gameExecutable;
        console.debug("Presto:: gameExecutable", gameExecutable);
        const dataInstallPath = gamePlatforms[currentPlatform].dataInstallPath;
        console.debug("Presto:: dataInstallPath", dataInstallPath);

        const usesDmg = gamePlatforms[currentPlatform].usesDMG;
        console.debug("Presto:: usesDmg", usesDmg);

        const dataDownloadPath = gameData.downloadPath;
        console.debug("Presto:: dataDownloadPath", dataDownloadPath);
        const dataDownloadFile = gameData.downloadFile;
        console.debug("Presto:: dataDownloadFile", dataDownloadFile);
        
        if(button != null) {
            button.addEventListener("click", async () => {
                if (currentSettings && installPath) {
                    globalThis.presto.functions.showDownloadBar(true);

                    const archivePath = `${installPath}/${gamePathTitle}.zip`;
                    const finalPath = `${installPath}/${gamePathTitle}`;
                    const tempPath = `${installPath}/temp`;
                    
                    await globalThis.presto.functions.downloadFile(downloadFile, zipPath)
                    .then(async () => {
                        // Extract based on platform                        
                        let result = await globalThis.presto.functions.genericInvoke('unzip_file', { 
                            archivePath: archivePath,
                            tempPath: tempPath,
                            finalPath: finalPath,
                            usesDmg: usesDmg,
                            gameExecutable: gameExecutable,
                        });
                        globalThis.presto.functions.updateProgress('Installing', 100);

                        console.debug("Presto:: result", result);
                    })
                    .catch((error) => {
                        console.error("Presto:: Failed to extract file:", error);
                        throw error; // Re-throw to trigger the finally block
                    })
                    .then(async () => {
                        console.debug("Presto:: download path", `${dataDownloadPath}${dataDownloadFile}`);
                        
                        // There's some configuration you can do per game
                        // Sometimes you need to put the rom in the game dir
                        // Sometimes you need to put the rom in the home dir
                        // Sometimes it needs to go somewhere else...
                        // Always append the dataInstallPath to the path; if we don't need it, it should be an empty string

                        let destPath;
                        if(dataInstallToGameDir) {
                            destPath = `${finalPath}${dataInstallPath}/${dataDownloadFile}`;
                        } else {
                            if(dataInstallToHomeDir) {
                                destPath = `${homeDirPath}${dataInstallPath}/${dataDownloadFile}`;
                            } else {
                                destPath = `${dataInstallPath}/${dataDownloadFile}`;
                            }
                        }
                        console.debug("Presto:: dest path", destPath);
                        
                        // Create destination directory before downloading
                        await globalThis.presto.functions.genericInvoke('create_directory', {
                            path: destPath.substring(0, destPath.lastIndexOf('/'))
                        });
                        
                        // Download the data file to the destination path
                        await globalThis.presto.functions.downloadFile(`${dataDownloadPath}${dataDownloadFile}`,destPath);
                    })
                    .catch((error) => {
                        console.error("Presto:: Failed to download data file:", error);
                        throw error;
                    })
                    .then(async () => {
                        // If we got here, all previous operations were successful
                        await globalThis.presto.functions.setInstalled(gamePathTitle, gameVersion);
                        window.location.reload(true);
                    })
                    .catch((error) => {
                        console.error("Presto:: Installation failed:", error);
                        throw error;
                    })
                    .finally(async () => {
                        // either way we're done, so clean up
                        try {
                            await globalThis.presto.functions.genericInvoke('cleanup_folder', { 
                                folder: `${tempPath}`
                            });
                            await globalThis.presto.functions.genericInvoke('cleanup_file', { 
                                file: `${archivePath}`
                            });
                        } catch (error) {
                            console.error("Presto:: Cleanup failed:", error);
                        } finally {
                            globalThis.presto.functions.showDownloadBar(false);
                        }
                    });
                }
            });
        }
    }
</script>
<button 
    inert 
    class={buttonClasses} 
    data-game-path-title={gamePathTitle} 
    data-game-version={version}
    data-game-platforms={JSON.stringify(gamePlatforms)}
    data-game-data={JSON.stringify(gameData)}
>
Install
</button>