---
const { downloadUrlMac,
    gamePathTitle } = Astro.props;
---
<script>
    import { download } from '@tauri-apps/plugin-upload';
    import { load } from '@tauri-apps/plugin-store';

    const store = await load('presto-data.json', { autoSave: true });
    const currentSettings = await store.get<{ value: string }>('settings');

    const installButton = document.querySelector("button.install");
    if(installButton != null) {
        installButton.addEventListener("click", async () => {
            if (currentSettings && currentSettings.installPath) {
                download(
                    installButton.dataset.downloadUrlMac,
                    `${currentSettings.installPath}/${installButton.dataset.gamePathTitle}.zip`,
                    ({progress, total}) =>
                        console.log(`Downloaded ${progress} of ${total} bytes`),
                );
            }
        });
    }
</script>
<button class="btn install" data-game-path-title={gamePathTitle} data-download-url-mac={downloadUrlMac}>Install</button>