---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import StatusBar from "../components/StatusBar.astro";
import GamePadControls from "../components/settings/GamePadControls.astro";
import { ViewTransitions } from "astro:transitions";
import Settings from "../components/settings/Settings.astro";
import { IS_CLIENT } from "../config";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";
import { ProgressBarStatus } from "@tauri-apps/api/window";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
    <Settings transition:persist/>
    <GamePadControls transition:persist/>
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-5 container">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
    {IS_CLIENT && <StatusBar />}
  </body>
</html>
